<template>
    <div class="home">
      <label for="home-list">Please select a house </label>
      <select name="home-list" id="home-list" v-model="selectedId" @change="selectHouse">
        <option disabled selected hidden value="">Please select</option>
        <option v-for="item in listOfHouses"
                :value="item.id"
                :key="item.id">{{ item.address }}</option>
      </select>
      <div v-if="Object.keys(selectedHouse).length > 0">
        <house :selected-house="selectedHouse"/>
      </div>
    </div>
</template>

<script>
import House from '@/components/House.vue';
import houseData from '../data/houseData.json';
import houseList from '../data/houseList.json';

// const API_KEY = 'ac1b0b1572524640a0ecc54de453ea9f';

export default {
  name: 'home',
  components: {
    House,
  },
  data() {
    return {
      houseData,
      selectedHouse: {},
      selectedId: '',
    };
  },
  created() {
    // Fetch list of houses directly from the API as soon as this component is crated
    // @todo: fix cors issue and assign house data to a variable
    // eslint-disable-next-line max-len
    // fetch(`https://partnerapi.funda.nl/feeds/Aanbod.svc/json/${API_KEY}/?type=koop&zo=/amsterdam/tuin/video/`)
    //   .then((response) => response.json())
    //   .then((data) => this.houseList = data);
  },
  computed: {
    // Curated and formatted list of houses retrieved from data
    listOfHouses() {
      return houseList.Objects.slice(0, 3).map((o) => ({
        id: o.Id,
        address: o.Adres,
      }));
    },
  },
  methods: {
    // Change the selected house from the dropdown
    selectHouse() {
      // @todo: fix cors issue
      // fetch(`https://partnerapi.funda.nl/feeds/Aanbod.svc/json/detail/${API_KEY}/koop/${this.selectedId}/`)
      //   .then((response) => response.json())
      //   .then((data) => this.selectedHouse = data);

      this.selectedHouse = houseData[this.selectedId];
    },
  },
};
</script>

<style scoped>
#home-list {
  padding: 10px;
  margin-bottom: 30px;
}
</style>
