<template>
  <div class="house">
    <div class="photos">
      <img :src="selectedHouse.HoofdFotoSecure" alt="Main Photo">
      <img :src="secondImage"
           alt="Other Photos" />
    </div>
    <div class="information">
      <div>
        <h2 class="title">{{ selectedHouseTitle }}</h2>
      </div>
      <div>
        <span>Price: </span>
        <span class="price">{{ selectedHouse.KoopPrijs }}€</span>
      </div>
      <div>
        <span>Location: </span>
        <span class="location">{{ selectedHouse.Plaats }}</span>
      </div>
      <div class="ctaBtn">
        <div>Check out the full description</div>
        <a :href="selectedHouse.URL" target="_blank">
          <button>Full Description</button>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'house',
  props: {
    selectedHouse: {
      type: Object,
      required: true,
    },
  },
  computed: {
    // To reduce visual noise and burden on page load, only show a second image beside the main one
    secondImage() {
      const randomImage = Math.floor(Math.random() * this.selectedHouse.Media.length);
      return this.selectedHouse.Media[randomImage].MediaItems[2].UrlSecure;
    },
    selectedHouseTitle() {
      return this.selectedHouse.Titels[0].Omschrijving;
    },
  },
};
</script>

<style scoped>
.photos {
  padding: 20px;
}
.photos img {
  width: 100%;
  max-width: 400px;
}
.ctaBtn {
  margin-top: 10px;
}
.ctaBtn button {
  padding: 10px;
}
</style>
